.mat-card {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    width: 700px;
    // height: 94%;    
    padding: 3px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 250px;
}   

.note {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 20px;
    color: gray;
    padding: 11px 10px 11px 11px;
}

.icons button {
    margin-right: 10px; 
    border: none;
    background-color: white;
}

.icons button:active,
.btn:hover {
    background-color: #dddedf;
    border-radius: 100px;
    cursor: pointer;
}


//Second Card
.card {
   display: flex;
   justify-content: center;
    box-shadow: 0px 2px 4px rgba(0.5, 0.5, 0.5, 0.5);
    width: 700px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 1% 0%;
    border-radius: 5px;
}

.card-title {
    display: flex;
    align-items: center;
    padding: 0px 3%;
}

.card-title input {
    border: none;
    outline: none;
    font-size: 2.0em;
    margin-bottom: 3vh;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.card-description {
    border: none;
    outline: none;
    font-size: 160%;
    padding: 0px 3%;
    margin-bottom: 15px;
    flex-grow: 2;
    resize: none;
    overflow: hidden;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.btn,
.btn:hover {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn:active {
    background-color: #e5e5e5;
    border-radius: 100px;
}

.icon-container {
    justify-content: space-between;
    padding: 0px 3%;
    display: none;
}

 .icon-container{
    display: flex;   
}

.color-picker-container {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 20px;
  }
  
  
  .row {
    display: flex;
    justify-content: space-between;

  }
  
  .color-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 5px;
  }
  
  .color-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

.main-div{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.notes-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;
}
.color-picker-container .row {
    display: flex;
    justify-content: center; /* Centers the color buttons within their container */
    margin-bottom: 5px;
  }